.text-center {
    text-align: center;
}

.greeting {
    text-align: center;
}

.container {
    max-width: 350px;
    margin: 2rem auto;
}

.author-bio {
    background-color: white;
    border: 1px solid hsl(0, 0%, 85%);
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.author-bio > img {
    display: block;
    width: 100%;
    height: auto;
}

.author-bio > div {
    padding: 1rem;
}

.author-bio > div > h2 {
    font-size: 1.25rem;
    color: rgba(0, 0, 0, 0.8);
}

.author-bio > div > p {
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.75);
    line-height: 1.5;
}
