.container {
    max-width: 350px;
    margin: 2rem auto;
}

.author-bio {
    background-color: white;
    border: 1px solid hsl(0, 0%, 85%);
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-bottom: 2rem;
}

.author-bio__image {
    display: block;
    width: 100%;
    height: auto;
}

.author-bio__content {
    padding: 1rem;
}

.author-bio__name {
    font-size: 1.25rem;
    color: rgba(0, 0, 0, 0.8);
}

.author-bio__body {
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.75);
    line-height: 1.5;
}

.article-preview {
    @extend .author-bio;
}

.article-preview__image {
    @extend .author-bio__image;
}

.article-preview__content {
    @extend .author-bio__content;
}

.article-preview__title {
    @extend .author-bio__name;
}

.article-preview__body {
    @extend .author-bio__body;
}