@charset "utf-8";

* {
    box-sizing: border-box;
}

.stacked-form {
    margin-top: 30px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.stacked-form__section {
    margin-bottom: 30px;
}

.stacked-form__section:not(:last-child):after {
    content: "—";
    display: block;
    color: #aaa;
    margin-top: 30px;
}

.stacked-form__title {
    font-size: 1rem;
    color: #31227c;
}

.stacked-form__label {
    display: block;
    margin-bottom: 5px;
}

.stacked-form__label:not(:first-child) {
    margin-top: 20px;
}

.stacked-form__text-input {
    width: 100%;
}

.stacked-form__button {
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #31227c;
    padding: 5px 20px;
    font-size: 1.2rem;
}